
@{
    Layout = null;
}

<h1>Yeni kategory ekleme sayfası</h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Açıklma giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>
